.App {
  text-align: center;
  width: 1000;
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
  background-color: #282c34;
  color: #f6f6f6;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1E264E;
  border-bottom: solid 2px #3382E3;
  color: #f6f6f6;
}

h1 {
  margin: 5px;
  padding: 4px 4px 10px 4px;
  width: auto;
  height: 2rem;
  font-size: 1.8rem;
}

.button-like {
  margin: 5px;
  padding: 4px;
  width: 140px;
  height: 2rem;
  text-align: center;
  font-size: 1.4rem;
  background-color: cornflowerblue;
  cursor: pointer;
}

.button-like:hover {
  opacity: 0.8;
}

.dialog {
  width: 950px;
  height: 650px;
  background-color: #293652;
  padding: 15px;
}

.dialog .operation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dialog input {
  font-size: 1.2rem;
  height: 1.8rem;
  width: 500px;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 5px;
  display: block;
}

.dialog input::placeholder {
  color: lightgray;
}

.dialog .search-results {
  height: 500px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.book-search-item {
  margin: 5px;
  padding: 5px;
  background-color: #181a1f;
  width: 290px;
  height: 260px;
  text-align: center;
  position: relative;
}

.book-search-item h2 {
  font-size: 1.2rem;
  height: 1.4rem;
  margin: 2px 2px 2px;
  padding: 2px 2px 2px 10px;
  text-align: left;
  width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-search-item .authors {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-search-item .add-book {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: darkseagreen;
  font-size: 2rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.book-search-item .add-book:hover {
  opacity: 0.8;
}

.book-search-item div {
  font-size: 1rem;
  height: 1.2rem;
  margin: 2px 2px 2px;
  padding: 2px 2px 2px;
  text-align: right;
}

.book-search-item img {
  margin: 10px 5px;
  height: 180px;
}

.book-row {
  background-color: #181a1f;
  display: flex;
  flex-direction: row;
}

.book-row:nth-child(even) {
  background-color: #292c35;
}

.book-row div {
  height: 1rem;
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-row div.title {
  width: 350px;
}

.book-row div.authors {
  width: 280px;
}

.book-row input {
  width: 450px;
  padding: 15px 2px 0;
  color: #0EDBE3;
  background-color: #181a1f;
  border: none;
  outline: 0;
  border-bottom: 1px solid #fff;
}

.book-row:nth-child(even) input {
  background-color: #292c35;
}

.book-row input:focus {
  border-bottom: 3px solid #fff;
  font-size: 1.1rem;
}

.book-row .delete-row {
  margin: 10px 15px 10px;
  padding: 4px;
  width: 80px;
  height: 1.6rem;
  text-align: center;
  font-size: 1.2rem;
  background-color: #C3331E;
  cursor: pointer;
}

.book-row .delete-row:hover {
  opacity: 0.8;
}
